<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.maprice.pointademo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/activity_title_main"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.maprice.pointademo.PAActivity"
            android:label="@string/activity_title_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.maprice.pointademo.PACrashReporterActivity"
            android:label="@string/activity_title_crash" >
        </activity>
        <activity
            android:name="com.maprice.pointademo.PAAdActivity"
            android:label="@string/activity_title_ad" >
        </activity>
        <activity
            android:name="com.maprice.pointademo.PAAnalyticsActivity"
            android:label="@string/activity_title_analytic" >
        </activity>
    </application>

</manifest>